// colors
$color-blue: #006bd6;
$color-red: crimson;
$color-white: ghostwhite;
$color-black: #222;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;
$color-grey-dark-1: #444;
$color-grey-dark-2: #666;
