body {
  background-color: $color-grey-light-1;
}

header,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  border: solid 1px;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-area {
  height: 70vh;
}
