body {
  background-color: $color-grey-light-1;
}

header,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header,
.score-area {
  height: 15vh;
}

.button-area {
  align-items: flex-start;
}

.game-area {
  height: 70vh;
}
