.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 4rem;
  border: 1px solid;
}

.author {
  font-size: 2rem;
  border: 1px solid;
  text-align: center;
}

.score-area,
.settings-area {
  width: 30%;
  border: 1px solid;
}

.score-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.settings-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.score {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    & * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.settings {
  font-size: 3rem;
  margin-right: 4rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.2) rotate(180deg);
    transition: 0.4s;
  }
  &:active {
    transform: scale(1) rotate(180deg);
    transition: 0.1s;
  }
}
